In [210]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from scipy.stats import linregress
from pprint import pprint

In [211]:
data_df=pd.read_csv("Google-Playstore-Full.csv",low_memory=False)
data_df=data_df[["App Name","Category","Rating","Reviews","Installs","Size","Price","Content Rating"]]
data_df.dropna()
data_df

,App Name,Category,Rating,Reviews,Installs,Size,Price,Content Rating
0,DoorDash - Food Delivery,FOOD_AND_DRINK,4.548561573,305034,"5,000,000+",Varies with device,0,Everyone
1,TripAdvisor Hotels Flights Restaurants Attract...,TRAVEL_AND_LOCAL,4.400671482,1207922,"100,000,000+",Varies with device,0,Everyone
2,Peapod,SHOPPING,3.656329393,1967,"100,000+",1.4M,0,Everyone
3,foodpanda - Local Food Delivery,FOOD_AND_DRINK,4.107232571,389154,"10,000,000+",16M,0,Everyone
4,My CookBook Pro (Ad Free),FOOD_AND_DRINK,4.647752285,2291,"10,000+",Varies with device,$5.99,Everyone
...,...,...,...,...,...,...,...,...
267047,Community Healthplex,HEALTH_AND_FITNESS,5,1,100+,4.2M,0,Everyone
267048,Pet ads: Buy & Sell,BUSINESS,2.599999905,5,500+,8.4M,0,Everyone
267049,Collectors Market: Buy & Sell,BUSINESS,3.285714388,7,"1,000+",7.9M,0,Everyone
267050,"Car Market, Buy & Sell",BUSINESS,5,1,"1,000+",8.2M,0,Everyone
267051,Selfie with Ariana Grande,PHOTOGRAPHY,4.611111164,18,"1,000+",7.8M,0,Everyone

In [212]:
data_df=data_df.rename(columns={"App_Name":"App Name"})
data_df

,App Name,Category,Rating,Reviews,Installs,Size,Price,Content Rating
0,DoorDash - Food Delivery,FOOD_AND_DRINK,4.548561573,305034,"5,000,000+",Varies with device,0,Everyone
1,TripAdvisor Hotels Flights Restaurants Attract...,TRAVEL_AND_LOCAL,4.400671482,1207922,"100,000,000+",Varies with device,0,Everyone
2,Peapod,SHOPPING,3.656329393,1967,"100,000+",1.4M,0,Everyone
3,foodpanda - Local Food Delivery,FOOD_AND_DRINK,4.107232571,389154,"10,000,000+",16M,0,Everyone
4,My CookBook Pro (Ad Free),FOOD_AND_DRINK,4.647752285,2291,"10,000+",Varies with device,$5.99,Everyone
...,...,...,...,...,...,...,...,...
267047,Community Healthplex,HEALTH_AND_FITNESS,5,1,100+,4.2M,0,Everyone
267048,Pet ads: Buy & Sell,BUSINESS,2.599999905,5,500+,8.4M,0,Everyone
267049,Collectors Market: Buy & Sell,BUSINESS,3.285714388,7,"1,000+",7.9M,0,Everyone
267050,"Car Market, Buy & Sell",BUSINESS,5,1,"1,000+",8.2M,0,Everyone
267051,Selfie with Ariana Grande,PHOTOGRAPHY,4.611111164,18,"1,000+",7.8M,0,Everyone

In [213]:
data_df["Size"].value_counts()

Varies with device    11726
11M                    7312
12M                    6362
13M                    5569
14M                    5266
                      ...
583k                      1
887k                      1
601k                      1
8.4k                      1
801k                      1
Name: Size, Length: 1248, dtype: int64

In [214]:
data_df["Category"].value_counts()

EDUCATION              33394
TOOLS                  21592
BOOKS_AND_REFERENCE    21377
ENTERTAINMENT          20604
MUSIC_AND_AUDIO        17876
                       ...
 Tour Guide                1
 Mexpost)                  1
6                          1
 Accounting                1
 Podcasts                  1
Name: Category, Length: 67, dtype: int64

In [215]:
data_df = data_df.replace(
    {"GAME_PUZZLE": "GAME",
"GAME_CASUAL": "GAME",
"GAME_ARCADE": "GAME",
"GAME_ACTION": "GAME",
"GAME_SIMULATION": "GAME",
"GAME_CARD": "GAME",
"GAME_EDUCATIONAL": "GAME",
"GAME_ROLE_PLAYING": "GAME",
"GAME_STRATEGY": "GAME",
"GAME_RACING": "GAME",
"GAME_ADVENTURE": "GAME",
"GAME_SPORTS": "GAME",
"GAME_WORD": "GAME",
"GAME_BOARD": "GAME",
"GAME_CASINO": "GAME",
"GAME_TRIVIA": "GAME",
"GAME_MUSIC": "GAME",
})
value_counts = data_df["Category"].value_counts()
to_remove = value_counts[value_counts <= 1].index
data_df = data_df[~data_df.Category.isin(to_remove)]

In [216]:
cleaned_df = data_df
cleaned_df["Installs"].head()
cleaned_df["Installs"] = cleaned_df['Installs'].str.split("+").str[0]
cleaned_df["Installs"] = cleaned_df["Installs"].replace(',', "", regex=True)
cleaned_df["Installs"] = cleaned_df["Installs"].astype(float)
cleaned_df.head()

,App Name,Category,Rating,Reviews,Installs,Size,Price,Content Rating
0,DoorDash - Food Delivery,FOOD_AND_DRINK,4.548561573,305034,5000000.0,Varies with device,0,Everyone
1,TripAdvisor Hotels Flights Restaurants Attract...,TRAVEL_AND_LOCAL,4.400671482,1207922,100000000.0,Varies with device,0,Everyone
2,Peapod,SHOPPING,3.656329393,1967,100000.0,1.4M,0,Everyone
3,foodpanda - Local Food Delivery,FOOD_AND_DRINK,4.107232571,389154,10000000.0,16M,0,Everyone
4,My CookBook Pro (Ad Free),FOOD_AND_DRINK,4.647752285,2291,10000.0,Varies with device,$5.99,Everyone

In [235]:
cleaned_df = cleaned_df[cleaned_df["Rating"] != 'NEWS_AND_MAGAZINES']
cleaned_df = cleaned_df[cleaned_df["Category"] != 'Channel 2 News']
cleaned_df = cleaned_df[cleaned_df["Rating"] != 'GAME']
cleaned_df = cleaned_df.rename(columns={"Content Rating":"Number of Apps"})
cleaned_df["Rating"] = cleaned_df["Rating"].astype(float)
cleaned_df=cleaned_df.dropna()
cleaned_df.dtypes

App Name           object
Category           object
Rating            float64
Reviews            object
Installs          float64
Size               object
Price              object
Number of Apps     object
dtype: object

In [236]:
groupby = cleaned_df.groupby(["Category"], as_index=False)
install_sum = groupby["Installs"].sum()
install_sum

               Category      Installs
0        ART_AND_DESIGN  3.702253e+08
1     AUTO_AND_VEHICLES  3.839429e+08
2                BEAUTY  1.351792e+08
3   BOOKS_AND_REFERENCE  2.155583e+09
4              BUSINESS  1.489330e+09
5                COMICS  1.935567e+08
6         COMMUNICATION  1.327480e+10
7                DATING  1.484412e+08
8             EDUCATION  2.493372e+09
9         ENTERTAINMENT  7.363605e+09
10               EVENTS  2.830650e+07
11              FINANCE  2.312669e+09
12       FOOD_AND_DRINK  6.119781e+08
13                 GAME  4.446148e+10
14   HEALTH_AND_FITNESS  2.138271e+09
15       HOUSE_AND_HOME  3.101829e+08
16   LIBRARIES_AND_DEMO  1.006233e+08
17            LIFESTYLE  2.199683e+09
18  MAPS_AND_NAVIGATION  1.222525e+09
19              MEDICAL  2.179170e+08
20      MUSIC_AND_AUDIO  5.836970e+09
21   NEWS_AND_MAGAZINES  3.712355e+09
22            PARENTING  8.989489e+07
23      PERSONALIZATION  4.186337e+09
24          PHOTOGRAPHY  9.358095e+09
25         PRODUCTIVITY  1.272585e+10
26             SHOPPING  3.274093e+09
27               SOCIAL  7.072465e+09
28               SPORTS  8.363074e+08
29                TOOLS  2.384301e+10
30     TRAVEL_AND_LOCAL  8.132613e+09
31        VIDEO_PLAYERS  9.658360e+09
32              WEATHER  8.525187e+08

In [241]:
cleaned_df["Reviews"] = cleaned_df["Reviews"].astype(float)
review_sum = groupby["Reviews"].sum()

In [238]:
category_count = groupby["Number of Apps"].count()
category_count

               Category  Number of Apps
0        ART_AND_DESIGN            1758
1     AUTO_AND_VEHICLES            2104
2                BEAUTY             959
3   BOOKS_AND_REFERENCE           21377
4              BUSINESS           10230
5                COMICS             505
6         COMMUNICATION            5486
7                DATING             323
8             EDUCATION           33394
9         ENTERTAINMENT           20604
10               EVENTS             615
11              FINANCE           10342
12       FOOD_AND_DRINK            3170
13                 GAME           22508
14   HEALTH_AND_FITNESS            7537
15       HOUSE_AND_HOME             925
16   LIBRARIES_AND_DEMO             612
17            LIFESTYLE           15034
18  MAPS_AND_NAVIGATION            4094
19              MEDICAL            3736
20      MUSIC_AND_AUDIO           17876
21   NEWS_AND_MAGAZINES            8029
22            PARENTING             621
23      PERSONALIZATION           10544
24          PHOTOGRAPHY            7240
25         PRODUCTIVITY            9142
26             SHOPPING            5337
27               SOCIAL            4744
28               SPORTS            5585
29                TOOLS           21592
30     TRAVEL_AND_LOCAL            6649
31        VIDEO_PLAYERS            2717
32              WEATHER            1643

In [239]:
rating_mean = groupby["Rating"].mean()
rating_mean

               Category    Rating
0        ART_AND_DESIGN  4.229019
1     AUTO_AND_VEHICLES  4.126978
2                BEAUTY  4.296484
3   BOOKS_AND_REFERENCE  4.475828
4              BUSINESS  4.142819
5                COMICS  4.269344
6         COMMUNICATION  4.238913
7                DATING  4.045021
8             EDUCATION  4.347219
9         ENTERTAINMENT  4.257484
10               EVENTS  4.329796
11              FINANCE  4.041860
12       FOOD_AND_DRINK  4.315585
13                 GAME  4.279671
14   HEALTH_AND_FITNESS  4.205069
15       HOUSE_AND_HOME  4.037074
16   LIBRARIES_AND_DEMO  4.221006
17            LIFESTYLE  4.296417
18  MAPS_AND_NAVIGATION  4.022079
19              MEDICAL  4.235055
20      MUSIC_AND_AUDIO  4.430913
21   NEWS_AND_MAGAZINES  4.228128
22            PARENTING  4.340115
23      PERSONALIZATION  4.435319
24          PHOTOGRAPHY  4.167316
25         PRODUCTIVITY  4.172169
26             SHOPPING  4.202634
27               SOCIAL  4.361425
28               SPORTS  4.285496
29                TOOLS  4.142244
30     TRAVEL_AND_LOCAL  4.130067
31        VIDEO_PLAYERS  4.053698
32              WEATHER  4.195190

In [242]:
result = pd.merge(category_count, install_sum, on='Category', how='left')
result2 = pd.merge(result, ratings_mean, on='Category', how='left')
result3 = pd.merge(result2, review_sum, on='Category', how='left')
result3

               Category  Number of Apps      Installs    Rating       Reviews
0        ART_AND_DESIGN            1758  3.702253e+08  4.281194  4.397941e+06
1     AUTO_AND_VEHICLES            2104  3.839429e+08  4.230863  4.712172e+06
2                BEAUTY             959  1.351792e+08  4.233634  1.332254e+06
3   BOOKS_AND_REFERENCE           21377  2.155583e+09  4.476711  4.575816e+07
4              BUSINESS           10230  1.489330e+09  4.060106  2.352989e+07
5                COMICS             505  1.935567e+08  4.258006  4.274472e+06
6         COMMUNICATION            5486  1.327480e+10  4.226116  3.401141e+08
7                DATING             323  1.484412e+08  3.831584  4.375230e+06
8             EDUCATION           33394  2.493372e+09  4.377441  5.222368e+07
9         ENTERTAINMENT           20604  7.363605e+09  4.198436  1.181909e+08
10               EVENTS             615  2.830650e+07  4.004654  2.809110e+05
11              FINANCE           10342  2.312669e+09  4.018818  6.173346e+07
12       FOOD_AND_DRINK            3170  6.119781e+08  4.208897  1.578527e+07
13                 GAME           22508  4.446148e+10  4.324745  1.622417e+09
14   HEALTH_AND_FITNESS            7537  2.138271e+09  4.251912  4.203953e+07
15       HOUSE_AND_HOME             925  3.101829e+08  4.198938  4.438454e+06
16   LIBRARIES_AND_DEMO             612  1.006233e+08  4.197520  1.701190e+06
17            LIFESTYLE           15034  2.199683e+09  4.278389  4.129340e+07
18  MAPS_AND_NAVIGATION            4094  1.222525e+09  4.065325  3.503075e+07
19              MEDICAL            3736  2.179170e+08  4.246755  4.839789e+06
20      MUSIC_AND_AUDIO           17876  5.836970e+09  4.396632  1.098402e+08
21   NEWS_AND_MAGAZINES            8029  3.712355e+09  4.169703  3.919919e+07
22            PARENTING             621  8.989489e+07  4.338582  2.450875e+06
23      PERSONALIZATION           10544  4.186337e+09  4.424185  9.025181e+07
24          PHOTOGRAPHY            7240  9.358095e+09  4.262808  1.605698e+08
25         PRODUCTIVITY            9142  1.272585e+10  4.238267  1.064268e+08
26             SHOPPING            5337  3.274093e+09  4.183717  9.357685e+07
27               SOCIAL            4744  7.072465e+09  4.282698  2.877440e+08
28               SPORTS            5585  8.363074e+08  4.227674  1.807838e+07
29                TOOLS           21592  2.384301e+10  4.258270  3.677374e+08
30     TRAVEL_AND_LOCAL            6649  8.132613e+09  4.087601  4.970183e+07
31        VIDEO_PLAYERS            2717  9.658360e+09  4.085544  1.170773e+08
32              WEATHER            1643  8.525187e+08  4.286904  2.667888e+07